# redirect to https
RewriteEngine On
RewriteCond %{HTTP_HOST} ^objectiv.io [NC]
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://objectiv.io/$1 [R,L]

# set hsts header, to prevent client from returning to http
Header set Strict-Transport-Security "max-age=31536000" env=HTTPS