:local(.titleWrapper) {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

:local(.icon) {
    margin-right: 40px;
    height: 48px;
}

:local(.title h2) {
    font-family: 'Bungee';
    font-size: 18px;
    letter-spacing: 0.2em;
    margin: 0;
}

:local(.subTitle h3) {
    font-family: 'Bungee';
    font-size: 14px;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
}

@media screen and (max-width: 966px) {
    :local(.titleWrapper) {
        display: block;
        text-align: center;
    }
    :local(.icon) {
        margin-bottom: 20px;
        margin-right: 0;
    }   
    :local(.subTitle h3) {
        text-align: center;
    }    
}      