/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global.
 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* Override the default Infima variables here. */
:root {
  --ifm-color-primary: white;
  --ifm-color-primary-dark: rgb(235, 235, 235);
  --ifm-color-primary-darker: rgb(225, 225, 225);
  --ifm-color-primary-darkest: rgb(215, 215, 215);
  --ifm-color-primary-light: rgb(215, 215, 215);
  --ifm-color-primary-lighter: rgb(225, 225, 225);
  --ifm-color-primary-lightest: rgb(235, 235, 235);
  --ifm-font-color-base: #333;
  --ifm-font-color-light: #666;
  --ifm-font-color-base-inverse: white;
  --ifm-heading-color: black;
  --ifm-heading-font-weight: normal;
  --ifm-hero-text-color: black;
  --ifm-hero-background-color: transparent;
  --ifm-container-width: 966px;
  --ifm-link-color: #06A5FA;
  --ifm-link-hover-color: #06A5FA;
  --ifm-navbar-link-hover-color: #06A5FA;
  --ifm-menu-color-active: #06A5FA;
  --ifm-menu-color-background-active: rgba(171, 233, 254, 0.1);
  --ifm-footer-background-color: white;
  --ifm-footer-color: black;
  --ifm-footer-link-hover-color: black;
  --ifm-footer-padding-vertical: 20px;
  --ifm-h1-font-size: 18px;
  --ifm-line-height-base: 150%;
  --ifm-global-shadow-lw: 0px 2px 0px rgba(70, 76, 92, 0.25);
  --ifm-navbar-height: 80px; /* Fixes issue with internal links hiding under navbar */
  --ifm-alert-padding-vertical: 20px;
  --ifm-alert-padding-horizontal: 20px;
  --ifm-card-border-radius: 4px;
  --ifm-card-vertical-spacing: 32px;
  --ifm-code-font-size: 14px;
  --ifm-font-family-monospace: 'Roboto Mono';
  font-family: 'Roboto', 'Bungee', sans-serif;

  /* --ifm-color-emphasis-200: #ABE9FE; */

  --obj-primary-one: #008FDB;
  --obj-primary-two: rgba(171, 233, 254, 0.1);
  --obj-primary-three: rgba(196, 166, 252, 0.1);
  --obj-primary-four: rgba(254, 242, 132, 0.1);
}

nav {
  display: none;
}

:root {
  --doc-sidebar-width: 360px !important;
}

body {
  line-height: 150%;
}

.navbar {
  border-bottom: 1px solid #C4C4C4;
  box-shadow: none;
  height: 80px;
  padding: 8px 16px;
  z-index: 1001;
}
.navbar__link {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  padding-right: 24px;
}
@media (max-width: 996px) {
  .navbar-sidebar .navbar__item {
    display: block;
  }
}
@media (min-width: 960px) {
  .navbar {
    z-index: 999; /* so announcement bar can overlap it*/
  }
  .navbar .navItem {
    width: 24px;
    height: 24px;
    padding: 0 24px;
  }
  .navbar .navItem span, .navbar .navItem svg {
    display: none;
  }
  .navbar .navGitHub {
    background: url('/img/icons/icon-nav-github.svg') no-repeat;
  }
  .navbar .navGitHub:hover {
    background: url('/img/icons/icon-nav-github-hover.svg') no-repeat;
  }
  .navbar .navSlack {
    background: url('/img/icons/icon-nav-slack.svg') no-repeat;
  }
  .navbar .navSlack:hover {
    background: url('/img/icons/icon-nav-slack-hover.svg') no-repeat;
  }
  .navbar .navDiscourse {
    background: url('/img/icons/icon-nav-discourse.svg') no-repeat;
  }
  .navbar .navDiscourse:hover {
    background: url('/img/icons/icon-nav-discourse-hover.svg') no-repeat;
  }
  .navbar .navTwitter {
    background: url('/img/icons/icon-nav-twitter.svg') no-repeat;
  }
  .navbar .navTwitter:hover {
    background: url('/img/icons/icon-nav-twitter-hover.svg') no-repeat;
  }
  .navbar .navEmail {
    background: url('/img/icons/icon-nav-email.svg') no-repeat;
  }
  .navbar .navEmail:hover {
    background: url('/img/icons/icon-nav-email-hover.svg') no-repeat;
  }
}

div[role=banner] {
  position: absolute;
  top: 79px;
  z-index: 1000;
  height: 80px;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items:center;
  background-color: #FEF284;
}

div[role=banner] img {
  vertical-align: middle;
  margin: 0 18px;
}

.footer {
  padding: 10px;
}

@media (min-width: 1440px) {
  .footer .container {
    max-width: 960px;
  }
}

.footer__item {
  display: inline-block;
  margin: 0 10px;
  font-size: 0.8em;
}

.footer__copyright {
  font-size: 0.9em;
  color: rgb(100, 100, 100);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
}

h1 {
  font-size: 32px;
  margin: 16px 0;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  margin: 16px 0;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  margin: 16px 0;
  font-weight: 700;
}

h4 {
  font-family: 'Bungee', serif;
  font-size: 18px;
  letter-spacing: 0.1em;
  margin: 16px 0;
}

h5 {
  font-family: 'Bungee', serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  margin: 16px 0;
}

p, .markdown p {
  margin-bottom: 16px;
}

.button {
  --ifm-button-background-color: white;
  --ifm-button-border-color: black;  
  color: black;
}
.button:hover {
  --ifm-button-border-color: #ffffffd4;
  color: #ffffffd4;
}

.body-extra-large {
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 40px;
  text-align: left;
}

.body-large {
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 32px;
  text-align: left;
}

.body-small {
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 24px;
  text-align: left;
}

.body-extra-small {
  font-size: 12px;
  line-height: 150%;
  margin-bottom: 20px;
  text-align: left;
}

.admonition-icon {
  margin-right: 0.5em;
  line-height: 14px;
}

.footnotes hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
}

/** BLOG **/
.blog-wrapper {
  line-height: 2em;
  letter-spacing: -0.003em;
}

.blog-list-page article {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(229,231,235,1);
}

.blog-list-page article header h2 {
  margin: 0;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}
.blog-list-page article h3 {
  font-family: "Georgia", serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: var(--ifm-font-color-light);
}

.blog-list-page article header h2 a {
  font-size: 24px;
  line-height: 36px;
  color: var(--ifm-font-color-base);
  font-weight: 900;
}

.blog-post-page article header h1 {
  margin: 0;
  font-weight: 700;
}

.blog-post-page article p {

  font-family: "Georgia", serif;
  font-size: 20px;
  line-height: 36px;
  --ifm-font-color-base: #333;
}

.blog-post-page article h2 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}

.blog-post-page article h3 {
  font-size: 20px;
  line-height: 36px;
  color: var(--ifm-font-color-light);
  font-weight: 400;
}

.blog-list-page article header .margin-vert--md, .blog-post-page article header .margin-vert--md { /* blog post date */
  margin-top: 0 !important;
  color:rgb(100, 100, 100);
}

.blog-list-page article header .avatar {
  display: none;
}

.blog-list-page article footer div:first-child { /* tags */
  display: none;
}

.blog-list-page article footer .text--right, .blog-list-page article footer .text--right a { /* read more */
  text-align: left;  
  color: var(--ifm-font-color-base);
}
.blog-list-page article footer .text--right a:after {
  content: " \2192";
  font-weight: bold;
}

.blog-post-page article {
  max-width: 680px;
}

.blog-post-page .table-of-contents {
  display: none;
}

/** LIGHTBOX MARKUP **/
/* animation */

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
